html{
    font-family:"myriad-pro",sans-serif;
}
body{
    margin:0 auto;
    background:url('../img/fond_mobile.jpg') top repeat-y;
    width:480px;
}
header{
    background:#222;
    height:40px;
    padding-top:5px;
    color:#111;
    font-size:1.8em;
    text-align:center;
    text-shadow: 1px 1px 0 #333, -1px -1px 0 #000;
    border-bottom: 1px solid #111111;
}
nav{
    background: #3c3c3c; /* Old browsers */
    background: -moz-linear-gradient(top, #3c3c3c 0%, #111111 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3c3c3c), color-stop(100%,#111111)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3c3c3c 0%,#111111 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3c3c3c 0%,#111111 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3c3c3c 0%,#111111 100%); /* IE10+ */
    background: linear-gradient(to bottom, #3c3c3c 0%,#111111 100%); /* W3C */
    height:47px;
    padding:5px;
    text-align:center;
}
nav a, nav p{
    display:inline-block;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    background: #3c3c3c; /* Old browsers */
    background: -moz-linear-gradient(top, #3c3c3c 0%, #111111 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3c3c3c), color-stop(100%,#111111)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3c3c3c 0%,#111111 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3c3c3c 0%,#111111 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3c3c3c 0%,#111111 100%); /* IE10+ */
    background: linear-gradient(to bottom, #3c3c3c 0%,#111111 100%); /* W3C */
    width:25%;
    height:45px;
    border:1px solid #222;
    color:#777;
    font-size:2em;
    text-decoration:none;
    text-shadow:1px 1px 0 #AAA,-1px -1px 0 #000;
    cursor:pointer;
}
nav a:hover, nav a:active, nav p:hover, nav p:active{
    background: #2b2b2b; /* Old browsers */
    background: -moz-linear-gradient(top, #2b2b2b 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2b2b2b), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #2b2b2b 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #2b2b2b 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #2b2b2b 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #2b2b2b 0%,#000000 100%); /* W3C */
    color:#0094FF;
    text-shadow:-1px -1px 0 #000;
    box-shadow:inset 0 0 3px 1px #0094FF;
}
#search{
    background:#333;
    padding: 5px 8px;
    text-align:center;
}
#search form{
    padding-right:41px;
    position:relative;
}
#search input{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -moz-box-shadow:0 0 5px #0094FF;
    -webkit-box-shadow:0 0 5px #0094FF;
    box-shadow:0 0 5px #0094FF;
    width:100%;
    padding:5px;
}
#search button{
    position:absolute;
    right:0;
    top:0px;
    width: 40px;
    -moz-border-radius:0 5px 5px 0;
    -webkit-border-radius:0 5px 5px 0;
    border-radius:0 5px 5px 0;
    background: #2b2b2b; /* Old browsers */
    background: -moz-linear-gradient(top, #2b2b2b 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2b2b2b), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #2b2b2b 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #2b2b2b 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #2b2b2b 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #2b2b2b 0%,#000000 100%); /* W3C */
    border:1px solid #111;
    color:#AAA;
    font-size:1.3em;
    cursor:pointer;
}
#search button:hover,#search button:active{
    background: #0094FF; /* Old browsers */
    background: -moz-linear-gradient(top, #0094FF 0%, #001E44 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0094FF), color-stop(100%,#001E44)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0094FF 0%,#001E44 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0094FF 0%,#001E44 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0094FF 0%,#001E44 100%); /* IE10+ */
    background: linear-gradient(to bottom, #0094FF 0%,#001E44 100%); /* W3C */
    -moz-box-shadow:0 0 5px #0094FF;
    -webkit-box-shadow:0 0 5px #0094FF;
    box-shadow:0 0 5px #0094FF;
}
#resultats{
    -margin: 10px;
}
.populaire{
    position:relative;
}
.populaire img{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.populaire .info{
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.8), inset 0 2px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.4);
    -moz-box-shadow: inset 0 0 1px rgba(0,0,0,.8), inset 0 2px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.4);
    box-shadow: inset 0 0 1px rgba(0,0,0,.8), inset 0 2px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.4);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
}
.populaire .info:active, .populaire .info:hover{
    -webkit-box-shadow: inset 0 0 40px #0094FF,inset 0 0 10px #0094FF;
    -moz-box-shadow: inset 0 0 40px #0094FF,inset 0 0 10px #0094FF;
    box-shadow: inset 0 0 40px #0094FF,inset 0 0 10px #0094FF;
}
.populaire .info p{
    position: absolute;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    border-radius: 0 0 20px 20px;
    color:white;
}
.populaire .titre{
    bottom:3px;
    background: rgba(0,0,0,0.7);
    padding: 7px 10px;
    width: 100%;
    font-size: 1.3em;
}
.populaire .saison{
    bottom:13px;
    right:10px;
}
.populaire .suivi{
    top:10px;
    left:10px;
    text-shadow: 0 0 1px #000;
}
.populaire .note{
    font-size: 1.3em;
    top:10px;
    right:10px;
    text-shadow: 0 0 1px #000;
}
#recherches{
    background: rgba(0, 0, 0, 0.2);
    margin:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    overflow:hidden;
    border:1px solid #111;
}
.recherche{
    background:url('../img/black_techno_1.png');
    border-bottom:1px solid #000;
}
.recherche a{
    padding:10px;
    color:white;
    height:20px;
    display: block;
    text-decoration:none;
}
.recherche a:hover, .recherche a:active{
    color:#0094FF;
}
.recherche+.recherche{
    margin-top:1px;
}
.fiche .image{
    position: relative;
}
.fiche .titre{
    background: rgba(0,0,0,0.7);
    bottom:3px;
    padding: 7px 10px;
    width: 100%;
    font-size: 1.3em;
    position:absolute;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color:white;
    font-size:1.8em;
    border-bottom:2px solid white;
}
.fiche .info{
    background: rgba(255,255,255,0.5);
    margin:10px;
    padding:10px;
}
.fiche .note{
    bottom: 15px;
    color: white;
    font-size: 1.4em;
    position: absolute;
    right: 14px;
}
.fiche .genre{
    font-size:1.3em;
    padding-bottom: 10px;
}
.fiche .saison{
    list-style: none;
    border-bottom:1px solid #000;
    color:white;
}
.saison p{
    background:url('../img/black_techno_1.png');
    padding:5px 15px;
    cursor:pointer;
}
.episodes{
    display: none;
    padding:5px 15px;
    list-style: none;
    background: rgba(0,0,0,0.7);
}
.episodes a{
    color:white;
    display: block;
    padding: 5px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    text-decoration: none;
}
.episodes a:hover,.episodes a:active{
    background:rgba(0,148,255,0.4);
}