html{
    font-family:"myriad-pro",sans-serif;
}
body{
    margin:0 auto;
    background:url('../img/fond_mobile.jpg') top repeat-y;
    width:480px;
}
header{
    background:#222;
    height:40px;
    padding-top:5px;
    color:#111;
    font-size:1.8em;
    text-align:center;
    text-shadow: 1px 1px 0 #333, -1px -1px 0 #000;
    border-bottom: 1px solid #111111;
}
nav{
    background:#222;
    background: linear-gradient(#3C3C3C, #111111) repeat scroll 0 0 #111111;
    height:47px;
    padding:5px;
    text-align:center;
}
nav a, nav p{
    display:inline-block;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    background: linear-gradient(#3C3C3C, #111111) repeat scroll 0 0 #111111;
    width:25%;
    height:45px;
    border:1px solid #222;
    color:#777;
    font-size:2em;
    text-decoration:none;
    text-shadow:1px 1px 0 #AAA,-1px -1px 0 #000;
    cursor:pointer;
}
nav a:hover, nav a:active, nav p:hover, nav p:active{
    background: linear-gradient(#2b2b2b, #000000) repeat scroll 0 0 #000000;
    color:#0094FF;
    text-shadow:-1px -1px 0 #000;
    box-shadow:inset 0 0 3px 1px #0094FF;
}
#search{
    background:#333;
    padding: 5px 8px;
    text-align:center;
}
#search form{
    padding-right:41px;
    position:relative;
}
#search input{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    box-shadow:0 0 5px #0094FF;
    width:100%;
    padding:5px;
}
#search button{
    position:absolute;
    right:0;
    top:0px;
    -height:23px;
    width: 40px;
    -moz-border-radius:0 5px 5px 0;
    -webkit-border-radius:0 5px 5px 0;
    border-radius:0 5px 5px 0;
    background:linear-gradient(#2b2b2b, #000000) repeat scroll 0 0 #000000;
    border:1px solid #111;
    color:#AAA;
    -padding-bottom:4px;
    font-size:1.3em;
    cursor:pointer;
}
#search button:hover,#search button:active{
    background:linear-gradient(#0094FF, #001E44) repeat scroll 0 0 #0094FF;
    box-shadow:0 0 5px #0094FF;
}
#populaires{
    -margin: 10px;
}
.populaire{
    position:relative;
}
.populaire img{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.populaire .info{
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.8), inset 0 2px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.4);
    -moz-box-shadow: inset 0 0 1px rgba(0,0,0,.8), inset 0 2px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.4);
    box-shadow: inset 0 0 1px rgba(0,0,0,.8), inset 0 2px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.4);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
}
.populaire .info p{
    position: absolute;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color:white;
}
.populaire .titre{
    bottom:3px;
    background: rgba(0,0,0,0.7);
    padding: 7px 10px;
    width: 100%;
    font-size: 1.3em;
}
.populaire .saison{
    bottom:13px;
    right:10px;
}
.populaire .suivi{
    top:10px;
    left:10px;
    text-shadow: 0 0 1px #000;
}
.populaire .note{
    font-size: 1.3em;
    top:10px;
    right:10px;
    text-shadow: 0 0 1px #000;
}
#resultats{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    margin:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    overflow:hidden;
    border:1px solid #111;
}
.resultat{
    background:url('../img/black_techno_1.png');
    color:white;
    border-bottom:1px solid #000;
    height:20px;
    padding:10px;
}
.resultat+.resultat{
    margin-top:1px;
}